body{
	background-color: white;
	margin:0px;
	font-family: Netflix sans,Helvetica Neue,Helvetica,Arial,sans-serif;
	color: white;
	font: 16px;
}
#icon{
	margin-top:15px;
	margin-left:150px;
	margin-right:270px;
	width:150px;
	height:40px;
	padding: 5px 0px 0px;
}
.elink{
	margin-top:35px;
}

.links{
	vertical-align:center;
	padding-right:25px;
	padding-bottom:25px;
	color:#2d2a2a;
	text-decoration:none;
}
.links:hover{
	color:#f00606;
    text-decoration:none;
}
#bar2{
	display:flex;
	overflow: hidden;
	background-color:white;
    position:fixed;
	width:100%;
	height:75px;
	color:#2d2a2a;
	font-family:sans-serif;
	font-size:13PX;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   
}
/* bar 2 */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.luck{
    background-image: url(images/slider1.jpg);
    color:azure;
    padding-top: 75px;
    background-color: aquamarine;
}



.about{
	font-size:17px;
	line-height:30px;
}


