body{
	background-color: #000000;
	margin:0px;
	font-family: Netflix sans,Helvetica Neue,Helvetica,Arial,sans-serif;
	color: white;
	font: 16px;
}
/* Block 1 */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#header-wrapper{ 
	padding: 20px 0px 0px; 
	height: 5px; 
} 
#fheader{
	margin: 0px 56px;
	height: 45px
}
#icon{
	width:180px;
	height:54px;
	padding: 5px 0px 0px;
	
}
.film{
	text-align:center;
	font-size:64px;
	padding-top:54px;
	padding-bottom:0px;
}

.redButton {
    background-color: #e50914;
    line-height: normal;
    padding: 7px 17px;
	margin: 8px 0px 0px;
    font-size: 1rem;
    float: right;
	border-radius:4px;
	text-decoration:none;
	color:white;
}


#bar{
	margin-top:0px;
	padding-top:0px;
	background-image:url("images/image-3.jpg"); 
	background-attachment: fixed;
	background-size:cover;
	width: 100%;
	height: 800px;
	border-bottom:8px solid #333;
}

#bar-ins{
	position: relative;
    width: 100%;
    padding: 75px 0;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
}

.filter{
	background-image:url("https://bnetcmsus-a.akamaihd.net/cms/blog_header/8g/8G9PJA14T3FN1566592377439.jpg");
	background-repeat:no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
}

.search{
	opacity: 0.75;
	width: 500px;
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 10px;
	font-size: 25px;
	border-radius: 5px;
}

table{
	min-width: 1000px;
}

#submit_btn{
	font-size: 25px;
	background:#e50914;
	color:aliceblue;
	opacity: 0.5;
	border-radius:8px;
	margin-bottom: 30px;
}
#submit_btn:hover{
	opacity: 1;
}

.redButton {
    background-color: #e50914;
    line-height: normal;
    padding: 7px 17px;
	margin: 8px 0px 0px;
    font-size: 1rem;
    float: right;
	border-radius:4px;
	text-decoration:none;
	color:white;
}
.redButton:hover{
	color:#e50914;
	opacity: 1;
}