body{
	background-color: #000000;
	margin:0px;
	font-family: Netflix sans,Helvetica Neue,Helvetica,Arial,sans-serif;
	color: white;
	font: 16px;
}
/* Block 1 */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#header-wrapper{ 
	padding: 20px 0px 0px; 
	height: 5px; 
} 
#fheader{
	margin: 0px 56px;
	height: 45px
}
#icon{
	width:180px;
	height:54px;
	padding: 5px 0px 0px;
	
}
.film{
    color:#333;
	text-align:center;
	font-size:64px;
	padding-top:54px;
	padding-bottom:0px;
}

.redButton {
    background-color: #e50914;
    line-height: normal;
    padding: 7px 17px;
	margin: 8px 0px 0px;
    font-size: 1rem;
    float: right;
	border-radius:4px;
	text-decoration:none;
	color:white;
}


#bar{
	margin-top:0px;
	padding-top:0px;
	background-image:url("images/image-3.jpg"); 
	background-attachment: fixed;
	background-size:cover;
	width: 100%;
	height: 800px;
	border-bottom:8px solid #333;
}

#bar-ins{
	position: relative;
    width: 100%;
    padding: 75px 0;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
}


.tabs {
    max-width: 600px;
    margin: 50px auto;
	
}
.tabs-nav {
    display: flex;
}
.tabs-nav-btn {
    padding: 15px 30px;

    font-size: 20px;

    background-color: #f5f5f5;
    border: 0;
    border-right: 1px solid #ddd;
    cursor: pointer;
}
.tabs-nav-btn:last-child {
    border-right: none;
}
.tabs-nav-btn:hover {
    background-color: #ddd;
}
.tabs-nav-btn.active {
    background-color: rgb(183, 3, 238);
    border-right-color: #5e3ddf;
    color: #fff;
}
.tabs-content {
    padding: 30px;
    background-color: rgb(160, 44, 175);
	color:white;
}
.tabs-item {
    display: none;
}
.tabs-item.active {
    display: block;
}

.redButton {
    background-color: #e50914;
    line-height: normal;
    padding: 7px 17px;
	margin: 8px 0px 0px;
    font-size: 1rem;
    float: right;
	border-radius:4px;
	text-decoration:none;
	color:white;
}
.redButton:hover{
	color:#e50914;
	opacity: 1;
}